
<!DOCTYPE html>
<html>
    <head lang="pt-br">
        <meta charset="UTF-8"/>
        <title>Sistema de Avaliação</title>
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        
        <!-- Chamadas JS -->
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>        
    </head>
    <body>

     <nav class="navbar navbar-default ">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#">Avalie seu Professor</a>
        </div>

         {% if current_user.is_authenticated %}
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          <li><a href="{{ url_for('index') }}">Buscar</a></li>
            <li><a href="{{ url_for('adicionarProfessor') }}">Adicionar Professor</a></li>
            {% if current_user.isAdmin() %}
            <li><a href="#contact">Usuários</a></li>
            {% endif %}
            <li><a href="{{ url_for('logout') }}">Sair</a></li>
          </ul>
        </div>
         {% endif %}

      </div>
    </nav>

    <div class = "container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    </div> <!-- close container -->

    </body>
</html>

