{% extends "base.html" %}
{% block content %}

<div class = "container">
  <h3> Professores Cadastrados <h3>

  <table class="table table-hover table-bordered" style = "font-size: 14px">
  <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Departamento</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
       {% for u in professors %}
        <tr>
          <th scope="row">{{ u.id }}</a></th>
          <td>{{ u.name }}</td>
          <td>{{ u.currentDepartment.name }}</td>
          <td><a class="btn btn-success" href="{{url_for("aprovarProfessor",id = u.id)}}" role="button">Aprovar</a></td>
        </tr>
        {% endfor %}
      </tbody>
</table>

</div> <!-- close container -->

 
{% endblock %}